@font-face {
    font-family: 'Coolvetica';
    src: url('Coolvetica Rg.otf') format('opentype');
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../feed/img/sunny.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Coolvetica", opentype;
    font-size: 8rem;
    margin-right: 100px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    animation: blink 1s infinite;
    width: 100%;
}

.header-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    gap: 40px;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    padding: 2px 0;
    width: 100vw;
    font-style: italic;
}

.marquee span {
    display: inline-block;
    font-size: 8rem;
    font-family: Coolvetica;
    font-weight: bold;
    text-decoration: underline;
    font-size: 200px;
    text-underline-offset: 10px;
    text-transform: uppercase;
    color: white;
    animation: scroll 60s linear infinite;
}

@keyframes scroll {

    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(-100%);
    }

}