@font-face {
    font-family: 'Coolvetica';
    src: url('Coolvetica Rg.otf') format('opentype');
}

body {
    background-image: url('../img/Happy Sunny Day GIF by MonA Hayslett.gif');
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-size: cover; /* Scales the image to cover the entire container */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    height: 100vh; /* Sets the height to 100% of the viewport height */
    width: 100vw; /* Sets the width to 100% of the viewport width */
}

h1 {
    font-family: 'Rubik Puddles', cursive;
    font-size: 10rem;
    text-align: center;
    color: white;
}

h2 a {
    font-family: "Coolvetica", opentype;
    font-size: 5rem;
    color: white;
    text-decoration: underline;
    text-align: center;
}

.video-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    padding: 10px;
}

.video-col {
    flex-shrink: 0;
}

video {
    display: block;
    border: 5px solid whitesmoke;
    border-radius: 10px;
}

p {
    font-family: 'Coolvetica', sans-serif;
    color: white;
}

.text-col {
    flex: 1;
    font-size: 2rem;
    text-align: left;
}